<%- include("partials/header.ejs") %>

    <% if(locals.data) {%>
    <div class="container add-post">
        <div class="wrapper post-wrap">
            <h1>Update Post</h1>
            <form action="/post?number=<%= index %>" method="post">
                <div class="form">
                    <label for="image-link">
                        <p >Image-link</p>
                    </label>
                    <input type="url" value="<%= data.image %>" name="image" placeholder="Guidance: above (3400 x 750) size">
                    <label for="category">
                        <p>category</p>
                    </label>
                    <input value="<%= data.category %>" name="category" type="text">
                    <label  for="subject">
                        <p>Subject</p>
                    </label>
                    <input value="<%= data.subject %>" name="subject" type="text">
                    <label for="article">
                        <p>Article</p>
                    </label>
                    <textarea  name="article"><%= data.article %></textarea>
                    <div><button class="btn add-btn" type="submit">Update</button></div>
                </div>
            </form>
        </div>
    </div>
    <% } %>
     


   <%- include("partials/footer.ejs") %>